.container-alert {
  padding: 5px;
  position: fixed;
  top: 2em;
  left: 35em;
  z-index: 999;
  opacity: 0.8;

  .alert { margin: 10px; }

  .clear { clear: both; }

  .slide-fade-enter-active { transition: all .3s ease; }

  .slide-fade-leave-active { transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0); }

  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateY(-60px);
    opacity: 0;
  }
}
