.dropbox {
  margin-top: 1rem;
}

.vue-dropzone {
  border-radius: $border-radius !important;
  background: $gray-100 !important;
  border: 1px solid $gray-200 !important;
  font-family: $font-family-sans-serif !important;
  color: $gray-500 !important;
  letter-spacing: normal !important;
  padding: 0 !important;

  &:hover {
    color: $gray-600 !important;
  }

  .dz-preview {
    margin: 0 !important;

    .dz-details {
      background-color: $gray-700 !important;
    }
  }

  .dz-preview img {
    width: 100%;
  }

  .dz-message {
    margin: 1em 0;
    padding: 0 1em;
  }

}
